@model Ewp.Models.SystemReport

<h2>System Report</h2>



<p>Total Users: @ViewBag.TotalUsers</p>
<p>Total Employees: @ViewBag.TotalEmployees</p>
<p>Total Tasks: @ViewBag.TotalTasks</p>
<p>Total Expenses: @ViewBag.TotalExpenses</p>
<p>Total Salary: @ViewBag.TotalSalary</p>
