@model List<Ewp.Models.Salary>

<h2>Salary</h2>

<table class="table">
    <tr>
        <th>Base</th>
        <th>Bonus</th>
        <th>Deduction</th>
        <th>Total</th>
        <th>Date</th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.BaseSalary</td>
            <td>@s.Bonus</td>
            <td>@s.Deduction</td>
            <td>@s.TotalSalary</td>
            <td>@s.Date</td>
        </tr>
    }
</table>